cache/cachefile/*.txt
cache/volt/*.php
cache/temp/*.xls
cache/model/*
doc/
cache/backup/*.bak
app/config/config.ini
app/config/config.php
public/upload/*
public/template/*
public/pcharts/*
public/words/*
.idea/
.phpintel/
question.sublime-project
question.sublime-workspace
*.*~
.fuse_hidden*
*.bak
memcached-win64/*
