.Leo_login{
    width:350px;
    height:340px;
    background-color:rgba(180, 60, 0, 0.3);
    
    background-repeat:no-repeat;
	border-radius: 20px;
    margin-left:65%;
	margin-top:2%;

     -webkit-box-shadow:2px 2px 3px #971616 ;	/*for chrome,safari*/
	box-shadow:2px 2px 3px #971616 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:2px 2px 3px #971616;		/*for firefox*/
}

.Leo_login td{
    
    width:240px;
    height:45px;
    text-align:center;
}