html{
    padding:0px;
    margin:0px;
    font-size:25px;
    font-family:'Microsoft YaHei';
    font-weight:lighter;
}

body{
    margin:0 auto;
    width:1100px;
    height:100%;  
    /*background-color:#bae3d7;*/
    background-image:url(../images/fcbg_blur.png);
	-moz-background-size: 100% 100%; /*  Firefox 3.6 */
    -o-background-size: 100% 100%;/* Opera 9.5 */
   -webkit-background-size: 100% 100%;/* Safari 3.0 */
    background-size: 100% 100%;/*  Firefox 4.0 and other CSS3-compliant browsers */
    background-attachment:fixed;   
}
