.Leo_title{
    width:100%;
    height:100px;
     margin-top:2.5%;
	
}

.Leo_title_l{
    width:100%;
    height:75%;
    background-color:rgba(255, 255, 255, 0.00);
    margin:0 auto;
    text-align:center;
    font-family:'Microsoft YaHei UI';
    font-size:44px;
	color:black;
    padding-top:10px;
    
/*
    -webkit-box-shadow:2px 2px 10px #909090 ;	for chrome,safari*/
	/*box-shadow:2px 2px 10px #909090 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	/*-moz-box-shadow:2px 2px 10px #909090;		/*for firefox*/
}
.select_l{
    width: 164px;
    height: 200px;
    margin:0 auto;
}

.Leo_info{
   
    width:225px;
    height:500px;
    background-color: rgb(255,255,255);
    background-color:rgba(255, 255, 255, 0.45);

     -webkit-box-shadow:2px 2px 10px #909090 ;	/*for chrome,safari*/
	box-shadow:2px 0px 10px #909090 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:2px 2px 10px #909090;		/*for firefox*/

    float:left;
}

.Leo_info_user{
    width:100px;
    height:120px;
    margin:0 auto;
    text-align:center;
}

.Leo_info_l{
    width:100%;
    height:auto;
    margin-top:15px;
}

.Leo_info_l table{
    text-align:center;
    margin:0 auto;
}

.Leo_info_l td{
    width:50%;

}



.Leo_info_l_logout{
	width:80%;
	height:40px;
	background-color:silver;
	margin:0 auto;
             margin-top:20px;
	cursor:pointer;
	border-radius:5px;
            text-align:center;
            font-size: 25px;
            font-family: '宋体';
}

.Leo_info_l_logout table{
	width:100%;
	height:100%;

}
.Leo_question{
    width:860px;
    height:500px;
    background-color:white;
    overflow:auto;
    margin-left:15px;

    -webkit-box-shadow:2px 2px 10px #202020 ;	/*for chrome,safari*/
	box-shadow:2px 2px 10px #202020 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:2px 2px 10px #202020;		/*for firefox*/
   float:left;
}


.Leo_question td{
    margin:0px;
    padding:0px;
}

.Leo_question_l{
    width:600px;
    height:420px;
    margin-top:10px;
    
}


.Leo_question_t{
    width:100%;
    height:100%;
    overflow:auto;

   
}


.Leo_hiden{
    width:100%;
    height:500px;
    background-color:pink;
    display:none;
}


.Leo_foot{
    
    width:1100px;
    height:30px;
    margin:0 auto;
    text-align:center;
    vertical-align:middle;
    color:white;
    font-size:12px;
    
    margin-top:2%;
    float:left;
	
}

.Leo_question_v2{
    width:600px;
    height:500px;
    background-color:white;
   overflow:hidden;
    margin-left:15px;

    -webkit-box-shadow:2px 2px 10px #202020 ;	/*for chrome,safari*/
	box-shadow:2px 2px 10px #202020 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:2px 2px 10px #202020;		/*for firefox*/
   float:left;
}

.Leo_question_t_v2{
    width:245px;
    height:340px;
    background-color:white;
    margin-left:15px;
    margin-top: 10px;
    -webkit-box-shadow:2px 2px 10px #202020 ;	/*for chrome,safari*/
	box-shadow:2px 2px 10px #202020 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:2px 2px 10px #202020;		/*for firefox*/
   float:left;
}

.Leo_Timer_v2{
    width:245px;
    height:150px;
    background-color:white;
    overflow:hidden;
    margin-left:15px;
     -webkit-box-shadow:2px 2px 10px #202020 ;	/*for chrome,safari*/
	box-shadow:2px 2px 10px #202020 ;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:2px 2px 10px #202020;		/*for firefox*/
   float:left;
}

.Leo_Timer_v2 td{
    width:35px;
    height:inherit;
}

.Leo_title_text{
    width:100%;
    height:auto;
    font-weight:normal;
    font-size:25px;
    word-break:break-all;
    overflow:auto;
}

.Leo_ans_div{
    cursor:pointer;
    width:100%;
    height:auto;
    margin-top:15px;
    overflow: hidden;


}



.Leo_ans_checkdiv{
    float:left;
    width:5%;
    text-align:center;
    cursor:pointer;
}

.Leo_ans_checktext{
    width:95%;
    float:left;
    font-size:19px;
    
}
.Leo_ans_checktext:hover{
    background-color: #aaeff9;
}

