body{
    background-image: url("/css/images/meteorshower2.jpg");
    font-family: "微软雅黑";
}

.submenu{
    padding-top: 10px;
    padding-left: 15px;
}

.submenu::before,.submenu::after{
    content: "--------";
}

.navbar-div{
    margin-top: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 15px;
}

.title-div{
    text-align: center;
    margin: 5px;
    font-size: large;
    font-family: "微软雅黑";
}

#hr{
    border-top:1px solid #242a2b;
}

.content-div{
    background-color: #eeeeee;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.menu-div{
    margin-bottom: 20px;
}

.checkbox-div{
    padding: 0;
    border: 1px solid #cccccc;
}

.checkbox-title{
    background: -ms-linear-gradient(top, #008db2, #00a9d5);;
    background: -webkit-gradient(linear, left top, left bottom, from(#008db2), to(#00a9d5)) ;
    background: -moz-linear-gradient(top,  #008db2,  #00a9d5) ;
    text-align: center;
}

